{{ $ := .root }}
{{ $page := .page }}

<div class="row">
  {{ with $page.Title }}
    <div class="col-md-12 section-heading">
      <h1>{{ . | markdownify | emojify }}</h1>
      {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
    </div>
  {{ end }}

  {{ with $page.Content }}
    <div class="col-md-12">
      {{ . }}
    </div>
  {{ end }}

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <div id="chart-1" class="col-12 col-md-6 google-chart">
  </div>
  <div id="chart-2" class="col-12 col-md-6 google-chart">
  </div>
  <div style="margin-left: auto;">
    {{ $page.Params.members.updatedAt }}
    時点
  </div>
  <script>
    // VISUALIZATION API AND THE PIE CHART PACKAGE.
    google.charts.load("visualization", "1", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(DrawPieChart);
    function DrawPieChart() {
      // DEFINE AN ARRAY OF DATA.
      var data1 = [
        ['学年', '人数'],
        {{ range $page.Params.members.grades }}
          [{{ .label }}, {{ .number}}],
        {{ end }}
      ];
      var options1 = {
        title: '部員数（学年別）',
        pieSliceText: 'value',
        backgroundColor: 'transparent',
        pieSliceTextStyle: {
          color: 'white',
        },
        titleTextStyle: {
          color: 'white'
        },
        legend: {
          textStyle: {
            color: 'white'
          }
        }
      };
      var data2 = [
        ['学類', '人数'],
        {{ range $page.Params.members.departments }}
          [{{ .label }}, {{ .number}}],
        {{ end }}
        ];
        var options2 = {
          title: '部員数（学類別）',
          pieSliceText: 'value',
          backgroundColor: 'transparent',
          pieSliceTextStyle: {
            color: 'white',
          },
          titleTextStyle: {
            color: 'white'
          },
          legend: {
            textStyle: {
              color: 'white'
            }
          }
      };
      var figures1 = google.visualization.arrayToDataTable(data1);
      var figures2 = google.visualization.arrayToDataTable(data2);
      var chart1 = new google.visualization.PieChart(document.getElementById('chart-1'));
      chart1.draw(figures1, options1);
      var chart2 = new google.visualization.PieChart(document.getElementById('chart-2'));
      chart2.draw(figures2, options2);
    }
    window.onresize = function () {
      DrawPieChart();
    }
  </script>
</div>
