[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "orionweller.github.io"]
	path = orionweller.github.io
	url = https://github.com/orionw/orionweller.github.io.git
	branch = master
