{{- define "main" -}}

<div class="post-container">
  <nav class="sidebar-wrap">
    <div class="sidebar">
      <h2>{{ i18n "table_of_contents" }}</h2>
      {{.TableOfContents}}
    </div>
  </nav>
  <article class="article">
    {{ partial "page_header" . }}

    <div class="article-container">

      <div class="article-style">
        {{ .Content }}
      </div>

      {{ partial "page_footer" . }}

    </div>
  </article>
</div>
<script>
  let needsCodeHeaderButtonRegex = RegExp(/.*language-(mermaid).*/);
  function needsCodeHeaderButton(code) {
    return !needsCodeHeaderButtonRegex.test(code.className);
  }
  function addCodeTitle(code, codeHeader) {
    let found = code.className.match(/.*language-.*:([^ ]+)/);
    if (found) {
      let filename = found[1];
      let text = document.createElement('div');
      text.className = "code-title";
      text.innerHTML = filename;
      codeHeader.appendChild(text);
    }
  }
  function addCopyButton(code, codeHeader) {
    let copiedText = document.createElement('div');
    copiedText.className = "code-copied-text";
    copiedText.innerHTML = "コピーしました。";

    let button = document.createElement('button');
    button.className = "copy-code-button";
    button.onclick = function () {
      //参考：https://qiita.com/butakoma/items/642c0ec4b77f6bb5ebcf
      let listener = function (e) {
        e.clipboardData.setData("text/plain", code.textContent);
        copiedText.classList.add("active");
        setTimeout(() => { copiedText.classList.remove("active"); }, 3000);
        // 本来のイベントをキャンセル
        e.preventDefault();
        // 終わったら一応削除
        document.removeEventListener("copy", listener);
      }
      // コピーのイベントが発生したときに、クリップボードに書き込むようにしておく
      document.addEventListener("copy", listener);
      // コピー
      document.execCommand("copy");
    }
    codeHeader.appendChild(button);

    let icon = document.createElement('i');
    icon.className = "far fa-clipboard";
    button.appendChild(icon);
    button.appendChild(copiedText);
  }
  let multilineCodes = [].filter.call(document.getElementsByTagName(`code`), function (code) {
    return code.parentElement.tagName === "PRE";
  });
  multilineCodes.forEach(code => {
    if (needsCodeHeaderButton(code)) {
      let codeHeader = document.createElement('div');
      codeHeader.className = "code-header";
      code.parentElement.insertBefore(codeHeader, code);
      addCodeTitle(code, codeHeader);
      addCopyButton(code, codeHeader);
    }
  });  
</script>
<script>
  let navBar = document.getElementById('navbar-main');
  function getNavBarHeight() {
    return navBar.offsetHeight;
  }
  function getOffsetOf(el) {
    //参考：https://qiita.com/tatesuke/items/b9548dd484b01b139b74#dom%E6%93%8D%E4%BD%9C
    const box = el.getBoundingClientRect();
    return {
      top: box.top + window.pageYOffset - document.documentElement.clientTop,
      left: box.left + window.pageXOffset - document.documentElement.clientLeft
    }
  }
  let bodyClassList = document.body.classList;
  function scrollToElement(to) {
    bodyClassList.add('scrolling');
    $('html, body').animate({
      scrollTop: to
    }, 600, function () {
      bodyClassList.remove('scrolling');
    });
  }
  let pageLink = {{ .Page.Permalink }};
  let inPageLinks = [].filter.call(document.getElementsByTagName('a'), function (element) {
    return element.href.startsWith(pageLink) && element.hash !== '';
  });
  inPageLinks.forEach(function (element) {
    let hashId = decodeURIComponent(element.hash.substring(1));
    let target = document.getElementById(hashId);
    element.addEventListener('click', function (e) {
      //offsetとnavBarHeightは毎回変化するので毎回取得する
      let elementOffset = Math.ceil(getOffsetOf(target).top - getNavBarHeight());
      scrollToElement(elementOffset);
    });
  });
</script>
{{- end -}}