{{- define "main" -}}

<div class="post-container">
  <nav class="sidebar-wrap">
    <div class="sidebar">
      <h2>{{ i18n "table_of_contents" }}</h2>
      {{.TableOfContents}}
    </div>
  </nav>
  <article class="article">
    {{ partial "page_header" . }}
  
    <div class="article-container">
  
      <div class="article-style">
        {{ .Content }}
      </div>
  
      {{ partial "page_footer" . }}
  
    </div>
  </article>  
</div>
<script>
  function addCodeTitle(code){
    let found = code.className.match(/.*language-.*:([^ ]+)/);
    if(found){
      let filename = found[1];
      let text = document.createElement('div');
      text.className = "code-title";
      text.innerHTML = filename;
      code.parentElement.insertBefore(text, code);
    }
  }
  function addCopyButton(code){
    let copiedText = document.createElement('div');
    copiedText.className = "code-copied-text";   
    copiedText.innerHTML = "コピーしました。";

    let button = document.createElement('button');
    button.className="copy-code-button";
    button.onclick = function(){
      //参考：https://qiita.com/butakoma/items/642c0ec4b77f6bb5ebcf
      let listener = function(e){
        e.clipboardData.setData("text/plain" , code.textContent);    
        copiedText.classList.add("active");
        setTimeout(()=>{copiedText.classList.remove("active");},3000);
        // 本来のイベントをキャンセル
        e.preventDefault();
        // 終わったら一応削除
        document.removeEventListener("copy", listener);
      }
      // コピーのイベントが発生したときに、クリップボードに書き込むようにしておく
      document.addEventListener("copy" , listener);
      // コピー
      document.execCommand("copy");
    }
    code.parentElement.insertBefore(button, code);  

    let icon = document.createElement('i');
    icon.className = "far fa-clipboard";
    button.appendChild(icon);    
    button.appendChild(copiedText);    
  }
  let multilineCodes = [];
  [].forEach.call(document.getElementsByTagName(`pre`), function (pre) {
    multilineCodes = multilineCodes.concat(
      [].filter.call(pre.childNodes, node => {
        return node.tagName == "CODE"; 
      })
    );
  });
  multilineCodes.forEach(code => {
    addCodeTitle(code);
    addCopyButton(code);
  });
</script>
{{- end -}} 
