<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Floating Discord Button</title>
  
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
<link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.4/css/all.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <a href="#discord_link_here" target="_blank">
  <div class="btn btn-dark floating-btn">
    <i class="icon fab fa-discord"></i>
    <div class="expanded">
      <span>
        <i class="far fa-comments"></i> Talk to us on Discord</span>
    </div>
  </div>
</a>
  
  

</body>

</html>