{{ if and (isset .Params "featuredpath") (ne .Params.featuredpath "") }}
    {{ $.Scratch.Set "path" .Params.featuredpath }}

    {{ if and (isset .Params "featured") (ne .Params.featuredpath "") }}
        {{ $.Scratch.Set "structType" "page" }}
        {{ partial "img-path" . }}
        {{ $path := $.Scratch.Get "path" }}
        {{ $alt := $.Scratch.Get "alt" }}
        {{ $img := $.Scratch.Get "img" }}

        <a href="{{ .RelPermalink }}" class="image featured">
            <img src="{{ $path | relURL }}/{{ .Params.featured }}" alt="{{ $alt }}">
        </a>
    {{ end }}
{{ end }}
