{{ $current_page := . }}
<nav class="navbar navbar-light fixed-top navbar-expand-lg py-0" id="navbar-main">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
      <a class="navbar-brand" href="{{ "/" | relLangURL }}">
        {{- if site.Params.logo -}}
        <img src="{{ printf "/img/%s" site.Params.logo | relURL }}" alt="{{ site.Title }}">
        {{- else -}}
        {{- site.Title -}}
        {{- end -}}
      </a>
      {{ if or site.Menus.main .IsTranslated }}
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="{{ i18n "toggle_navigation" }}"><span><i class="fas fa-bars"></i></span>
      </button>
      {{ end }}

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">

      <!-- Left Nav Bar -->
      {{ $align_right := site.Params.menu_align_right | default true }}
      <ul class="navbar-nav {{ if $align_right }}ml-auto{{ else }}mr-auto{{ end }}">

        <li class="nav-item">
            <a class="nav-link" href="#">
              <span>Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#about">
              <span>About</span>
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <span>Services</span>
            </a>
            <div class="dropdown-menu">
              <a href="/roof" class="dropdown-item">Roof</a>
              <a href="/exterior" class="dropdown-item">Exterior Wash</a>
              <a href="/decks-fencing" class="dropdown-item">Decks & Fencing</a>
              <a href="/driveways-sidewalks" class="dropdown-item">Driveways & Sidewalks</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#gallery">
              <span>Gallery</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#contact">
              <span>Contact</span>
            </a>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
