<script type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "BlogPosting",
        "mainEntityOfPage": {
             "@type": "WebPage",
             "@id": "{{ .Site.BaseURL }}"
        },
        "articleSection" : "{{ .Section }}",
        "name" : "{{ .Title }}",
        "headline" : "{{ .Title }}",
        "description" : "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
        "inLanguage" : "{{ .Lang }}",
        "author" : "{{ range .Site.Author }}{{ . }}{{ end }}",
        "creator" : "{{ range .Site.Author }}{{ . }}{{ end }}",
        "publisher": "{{ range .Site.Author }}{{ . }}{{ end }}",
        "accountablePerson" : "{{ range .Site.Author }}{{ . }}{{ end }}",
        "copyrightHolder" : "{{ range .Site.Author }}{{ . }}{{ end }}",
        "copyrightYear" : "{{ .Date.Format "2006" }}",
        "datePublished": "{{ .Date }}",
        "dateModified" : "{{ .Date }}",
        "url" : "{{ .Permalink }}",
        "wordCount" : "{{ .WordCount }}",
        "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}"Blog" ]
    }
    </script>