// Override this file to add your own SCSS styling.
.post-nav-item {
    width: 50%;
}
.post-nav-item:nth-child(1) {
    float: right;
    text-align: right;
}
.post-nav-item:nth-child(2) {
    float: left;
    text-align: left;
}
.article-style figure {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

figure.left > a > img {
    margin-left: 0;
    margin-right: auto;
}
figure.right > a > img {
    margin-left: auto;
    margin-right: 0;
}
figure.float-left {
    float: left;
}
figure.float-right {
    float: right;
}
.article-style {
    clear: both;
}
.content-widget-hr {
    clear: both;
}
.article-style h1 {
    padding: 0.25em 0 0.5em 0.75em;
    border-left: 6px solid rgba(0, 0, 0, 0.09);
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.dark .article-style h1 {
    border-color: rgb(68, 71, 90);
}

.card.author {
    width: 40%;
    max-width: 300px;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
    text-align: center;
    margin: 20px 20px;
}
.card.author .avatar {
    margin-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
    width: auto;
    height: auto;
}
.author-card-container {
    text-align: center;
    display: inline;
}
.card.author .card-text {
    color: black;
}
.dark .card.author .card-text {
    color: white;
}
.dark .card.author:hover * {
    color: #f31b67;
    transition: color 0.6s ease;
}
.author-card-container-title {
    text-align: center;
}
.author-card-list {
    text-align: center;
}
.article-style a {
    word-break: break-all;
}
.tag-link {
    position: relative;
    display: inline-block;
    font-weight: bold;
    margin: 0.25em;
    padding: 0.25em 0.5em;
    color: white;
    background: #343a40;
}
.tag-link:hover {
    color: white;
    background-color: #f31b67;
    text-decoration: none;
    transition: 0.6s ease;
}
