// Override this file to add your own SCSS styling.
.post-nav-item {
    width: 50%;
    padding-top: 0;
    &:nth-child(1) {
        float: right;
        text-align: right;
    }
    &:nth-child(2) {
        float: left;
        text-align: left;
    }
}
.article-style figure {
    margin-top: 0rem;
    margin-bottom: 0rem;
    &.left > a > img {
        margin-left: 0;
        margin-right: auto;
    }
    &.right > a > img {
        margin-left: auto;
        margin-right: 0;
    }
    &.float-left {
        float: left;
    }
    &.float-right {
        float: right;
    }
}

.dark .card-simple {
    background-color: #343a40;
    cursor: pointer;
}

.article-style {
    clear: both;
}
.content-widget-hr {
    clear: both;
}
.article-style h1 {
    padding: 0.25em 0 0.5em 0.75em;
    border-left: 6px solid rgba(0, 0, 0, 0.09);
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.dark .article-style h1 {
    border-color: rgb(68, 71, 90);
}
.article-style a {
    word-break: break-all;
}

//著者一覧表示
.card.author {
    width: 40%;
    max-width: 300px;
    height: 400px;
    vertical-align: top;
    margin-top: 0px;
    text-align: center;
    margin: 20px 20px;
    .avatar {
        margin-top: 20px;
        padding-left: 20%;
        padding-right: 20%;
        width: auto;
        height: auto;
    }
    .card-text {
        color: black;
    }
}
.author-card-container {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    text-align: center;
    justify-content: center;
}
.dark .card.author {
    .card-text {
        color: white;
    }
    &:hover * {
        color: #f31b67;
        transition: color 0.6s ease;
    }
}
.author-card-container-title {
    text-align: center;
}
.author-card-list {
    text-align: center;
}

//tag
.tag-link {
    position: relative;
    display: inline-block;
    font-weight: bold;
    margin: 0.25em;
    padding: 0.25em 0.5em;
    color: white;
    background: #343a40;
    &:hover {
        color: white;
        background-color: #f31b67;
        text-decoration: none;
        transition: 0.6s ease;
    }
}

//pagination
.page-link {
    background-color: white !important;
    border-color: rgb(68, 71, 90) !important;
    &.current {
        background-color: #f31b67 !important;
        color: white !important;
    }
}
a.page-link:not([href]) {
    background-color: transparent !important;
    border-color: white !important;
}

//post/single.html
$sidebar-width: 300px;
.post-container {
    display: grid;
    grid-template-columns: calc(100% - #{$sidebar-width}) $sidebar-width;
    grid-template-rows: auto;
    margin: 70px auto 0 auto;
    width: calc(100% - 60px);
    max-width: 1200px;
    @include media-breakpoint-down(md) {
        margin-top: 50px;
    }
    @include media-breakpoint-down(lg) {
        grid-template-columns: auto;
    }
    .sidebar-wrap {
        .sidebar {
            position: -webkit-sticky;
            position: sticky;
            top: 100px;
            z-index: 2;
            #TableOfContents {
                border: none;
                li a {
                    font-size: 1rem;
                }
            }
        }
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
    article {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

//code
.code-title {
    display: inline-block;
    background-color: #343a40;
    border-radius: 4px;
    font-size: 0.8em;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.copy-code-button {
    background: #668ad8;
    border: none;
    border-radius: 4px;
    width: 80px;
    font-size: 0.8em;
    color: #00bcd4;
    background: #ececec;
    padding: 0;
    &:hover {
        background: #00bcd4;
    }
    &:active {
        box-shadow: inset 0 10px 25px 0 rgba(0, 0, 0, 0.5);
    }
    &:focus {
        outline: none;
    }
    &:hover {
        color: white;
    }
}
.code-copied-text {
    display: none;
    font-size: 15px;

    &.active {
        display: inline-block;
    }
    &:hover {
        text-decoration: none;
    }
}

.mermaid {
    background-color: white;
    border-radius: 4px;
    padding: 5px;
}

.code-em {
    background-image: linear-gradient(to bottom, rgba(233, 231, 245, 0.2), rgba(233, 231, 245, 0.2));
    color: red;
    * {
        color: red;
    }
}

input#search-query:focus {
    outline: none;
}

.article-widget {
    padding-top: 0;
}
.post-nav {
    margin-top: 0;
}
.content-widget-hr {
    margin-top: 0;
    //padding-top: 0.5em;
}
.twitter-tweet {
    margin-left: auto;
    margin-right: auto;
}
ul.share {
    padding-bottom: 10px;
}
