{{ partial "header" . }}
    {{ $.Scratch.Set "shareNav" true }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
        <article class="post">
          <header>
            <div class="title">
                {{ .Render "header" }}
                <h1>{{ .Site.Title }}</h1>
                <h3>About Us</h3>
            </div>
          </header>
                {{ .Content }}
        </article>
        {{ range first 1 (where .Site.Pages "Type" "post") }}
            {{ .Render "content-single" }}

            {{ partial "share-menu" . }}
        {{ end }}
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
