{{- define "main" -}}

{{/* List of all authors. */}}

<div class="universal-wrapper pt-3">
  <h1 style="text-align: center;">{{ .Title }}</h1>

  {{ with .Params.subtitle }}
  <p class="page-subtitle">{{ . | markdownify | emojify }}</p>
  {{end}}
</div>

<div class="universal-wrapper" style="width: 100%;">
  {{ with .Content }}
  <div class="article-style">{{ . }}</div>
  {{ end }}

  {{ $paginator := .Paginate .Data.Pages }}
  
  {{ partial "list_authors" $paginator.Pages }}

  {{ partial "pagination" . }}
</div>

{{- end -}}