{{- define "main" -}}

{{/* List of all authors. */}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  {{ with .Content }}
  <div class="article-style">{{ . }}</div>
  {{ end }}

  {{ $paginator := .Paginate .Data.Pages }}
  {{ partial "list_authors" $paginator.Pages }}
  {{/*  {{ range $paginator.Pages }}
    {{ $author_urlized := urlize .Title }}
    {{ partial "page_author_card" (dict "username" $author_urlized) }}
  {{ end }}  */}}

  {{ partial "pagination" . }}
</div>

{{- end -}}