{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  {{ with .Content }}
    <div class="article-style">{{ . }}</div>
  {{ end }}
  {{ $kind := .Kind }}
  {{ if eq $kind "taxonomy" }}
    {{ range .Data.Pages }}
      <a href="{{.RelPermalink}}" class="tag-link"> {{ .Title }} </a>
    {{ end }}
  {{ else }}
    {{ $paginator := .Paginate .Data.Pages }}
    {{ range $paginator.Pages }}
        {{ partial "li_card" . }}
    {{ end }}
    {{ partial "pagination" . }}
  {{end}}
</div>

{{- end -}}
