{{$author_university :=  .}}
{{$university_grade := ""}}
{{if $author_university.grade_label}}
    {{$university_grade = $author_university.grade_label}}
{{else if $author_university.enrollment}}
    {{$university_current_year := partial "functions/university_current_year" .}}
    {{$university_grade_number := sub $university_current_year $author_university.enrollment}}
    {{$university_grade_number = add $university_grade_number 1}}
    {{if $author_university.year_offset}}
        {{$university_grade_number = sub $university_grade_number $author_university.year_offset}}
    {{end}}
    {{if le $university_grade_number 4}}    {{/* 学域 */}}
        {{$university_grade = print $university_grade_number "年"}}
    {{else if le $university_grade_number 6}} {{/* 修士 */}}
        {{$university_grade = print "M" (sub $university_grade_number 4)}}
    {{else if le $university_grade_number 8}} {{/* 学士 */}}
        {{$university_grade = print "D" (sub $university_grade_number 6)}}
    {{else}}
        {{ $university_grade =  "OB" }}
    {{end}}
{{else}}
{{ $university_grade =  "その他" }}
{{end}}
{{return $university_grade}}    
