{{ $ := .root }}
{{ $page := .page }}
<div class="row">
  <div class="col-12 text-center section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify | emojify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
  </div>
  <div class="col-12">
    {{/* <p>{{ $page.Content }}</p> */}}

    {{ if not (eq (len site.Taxonomies.tags) 0) }}
    {{ $min := len (index site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
    {{ $max := add (len (index site.Taxonomies.tags.ByCount 0).Pages) 1 }}

    <div class="text-center">
      {{ range $name, $taxonomy := site.Taxonomies.tags }}
      {{ $tagCount := len $taxonomy.Pages }}
      {{ $weight := div (sub (math.Log $tagCount) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
      <a class="btn btn-outline-dark btn-lg" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
      {{ end }}
    </div>
    {{ end }}
  </div>
</div>