<div style="font-size: small;">
  <ul class="connect-links fa-ul">
    <li><i class="fa-li fas fa-graduation-cap"></i><a href="https://arizona.edu/" target="_blank">Back to UA</a></li>
    <li><i class="fa-li fab fa-slack"></i><a href="https://uasouth.slack.com/" target="_blank">Slack</a></li>
    <li><i class="fa-li fab fa-twitter"></i><a href="https://twitter.com/search?l=&q=%23infv" target="_blank">#INFV hashtag</a></li>
    <li><i class="fa-li fas fa-edit"></i><a href="#">Edit this page</a></li>
  </ul>
</div>
