{{ $author_pages := . }}
{{ $university_current_year :=  partial "functions/university_current_year" . }}
{{ $avatar_shape := site.Params.avatar.shape | default "circle" }}
{{ $no_author_image := (site.GetPage "/authors").Resources.GetMatch "no_author_image.png" }}

{{ $year := 0 }}
{{ range sort (apply $author_pages "partial" "functions/get_author_dict.html" ".") "year" "desc" }}
  {{ if ne $year .year }}
    <h2>{{ partial "functions/university_grade_number" .year }}年</h2>
  {{ end }}
  {{ $year = .year }}
  {{ $image_src := $no_author_image.RelPermalink }}
  {{ with (.page.Resources.ByType "image").GetMatch "avatar.*" }}
    {{ $image_src = .RelPermalink }}
  {{ end }}
  <div class="card author" style="width: 300px; height: 450px; display: inline-block; vertical-align: top; margin-top: 0px; text-align:center;">
    <a href="{{ .page.RelPermalink }}" style="text-decoration: none;" >
      <img class="avatar {{if eq $avatar_shape "square"}}avatar-square{{else}}avatar-circle{{end}}" src="{{$image_src}}" alt="{{.page.Title}}" >
      <div style="width: 100%; text-align: center;">
        <h5 class="card-title">{{.page.Title}}</h5>
        {{ with .page.Params.role }}<h6 class="card-subtitle">{{. | markdownify | emojify}}</h6>{{end}}
      </div>
      {{ with .page.Params.bio }}<p class="card-text">{{. | markdownify | emojify}}</p>{{end}}
    </a>
  </div>
{{end}}