<div class="reveal">
  <div class="slides">
    {{$delimeter := "\n<hr>\n"}}
    {{$vertical_delimeter := "\n<p>+++</p>\n"}}
    {{$custom_section_start_tag := "\n<section data-noprocess data-shortcode-slide"}}
    {{ range . }}
      {{$content := .Content}}
      {{if gt (len $content) 0}}
        {{ range (split $content $delimeter) }}
          {{ if not (in . $custom_section_start_tag) }}
            <section>
          {{ end }}
          {{ if in . $vertical_delimeter}}
            {{range (split . $vertical_delimeter)}}
              {{ if not (in . $custom_section_start_tag) }}
                <section>
              {{ end }}
              {{ . | safeHTML }}
              </section>
              {{end}}
          {{else}}
            {{ . | safeHTML }}              
          {{end}}
          </section>
        {{end}}
      {{end}}
    {{ end }}
  </div>
</div>
