{{/*  This shortcode is deprecated. Use `[link_text](#link)` instead.  */}}
{{/*  このShortcodeは非推奨です。Markdown標準の`[link_text](#link)`を使用してください。 */}}
{{$link := .Get 0}}
{{$link_text := .Get 1}}
{{if $link_text}}
    {{$link_text = $link_text | markdownify | emojify}}
{{else}}
    {{$link_text = $link}}
    {{if eq (substr $link 0 1) "#"}}
        {{$link_text = substr $link 1}}
    {{end}}
{{end}}
{{if ne (substr $link 0 1) "#"}}
    {{$link = print "#" $link}}
{{end}}
{{ print "[" $link_text "]" "(" $link ")" | markdownify}}